{% extends 'base.html' %}{% block content %}
<div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Deep Learning-driven Explainable AI using Generative Adversarial Network
        (GAN)
      </h5>
      <p class="card-text">
        Jitendra Maan <br />2022 IEEE 19th India Council International
        Conference (INDICON) <br />Year: 2022 | Conference Paper | Publisher:
        IEEE
      </p>
      <ul class="nav"></ul>
      <a href="#" class="nav-item btn btn-primary">Abstract</a>
      <a href="#" class="nav-item btn btn-primary">Download PDF</a>
      <button
        type="button"
        class="nav-item btn btn-primary"
        style="padding-top: 10px; padding-bottom: 10px"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-share"
          viewBox="0 0 16 16"
        >
          <path
            d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
<div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        A Systematic Literature Review of Generative Adversarial Network
        Potential In AI Artwork
      </h5>
      <p class="card-text">
        Farrel Rasyad; Hardi Andry Kongguasa; Nicholas Christandy Onggususilo;
        Anderies; Afdhal Kurniawan; Alexander Agung Santoso Gunawan <br />2023
        International Conference on Computer Science, Information Technology and
        Engineering (ICCoSITE) <br />Year: 2023 | Conference Paper | Publisher:
        IEEE
      </p>
      <ul class="nav"></ul>
      <a href="#" class="nav-item btn btn-primary">Abstract</a>
      <a href="#" class="nav-item btn btn-primary">Download PDF</a>
      <button
        type="button"
        class="nav-item btn btn-primary"
        style="padding-top: 10px; padding-bottom: 10px"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-share"
          viewBox="0 0 16 16"
        >
          <path
            d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

{% endblock %}
